AUTH_SECRET=AUTH_GOOGLE_ID= 
AUTH_GOOGLE_SECRET= 
# AUTH_TRUST_HOST=http://localhost:300
CONNECTION_URI = 
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING="
POSTGRES_USER="default"
POSTGRES_HOST="e
POSTGRES_PASSWORD="gJeZLBEl6r8V"
POSTGRES_DATABASE="verceldb"